<header class="">
  <nav class="mx-18 flex max-w-full items-center justify-between p-6 lg:px-0" aria-label="Global">
    <div>
      <svg width="35" height="36" viewBox="0 0 45 46" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect y="27" width="19" height="19" rx="9.5" fill="#2C2C2C"/>
        <rect x="26" y="27" width="19" height="19" fill="#2C2C2C"/>
        <rect width="19" height="19" fill="#2C2C2C"/>
        <rect x="26" width="19" height="19" fill="#C24C4C"/>
      </svg>
    </div>
    <div>
      <ul class="flex items-center justify-between gap-12 text-lg">
        <li>التعليم</li>
        <li>المجتمع</li>
        <li>المعرض</li>
      </ul>
    </div>
    <div class=" w-36 h-10 flex flex flex-row bg-[#C24C4C] hover:bg-[#AE1E1E] items-center justify-around rounded">
      <button class="text-white font-bold">
        تسجيل الدخول
      </button>
      <div class="relative">
        <svg width="18" height="20" viewBox="0 0 26 28" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle cx="3" cy="25" r="3" fill="white"/>
          <circle cx="13" cy="25" r="3" fill="white"/>
          <circle cx="23" cy="25" r="3" fill="white"/>
          <circle cx="3" cy="14" r="3" fill="white"/>
          <circle cx="13" cy="14" r="3" fill="white"/>
          <circle cx="23" cy="14" r="3" fill="white"/>
          <circle cx="3" cy="3" r="3" fill="white"/>
          <circle cx="13" cy="3" r="3" fill="white"/>
          <circle cx="23" cy="3" r="3" fill="white"/>
        </svg>

      </div>
    </div>
  </nav>
  <!-- Mobile menu, show/hide based on menu open state. -->
</header>
